Q 1 In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

Ans 

1.   * | expression
2.   'hello' | value
3.    -87.8 | value
4.    - | expression
5.    / | expression
6.    + | expression
7.    6 | value

2. What is the difference between string and variable?


*   string are data type which can store data in word or symbol  
*   variable are the symbol which is uses to denote some data

3 Describe three different data types.
Ans 

1.   int | store integer value
2.   float | stores decimal value
3.   string | stores words

In [ ]:
4. What is an expression made up of? What do all expressions do?
Ans is oprator compare the memory id of the varible and check weather it is equal or not

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Ans statement assign some value to variable or do any task where expression perform its prefixed opration assinged to it and give results eg spam = 10 it assign value of 10 in spam name varible

In [1]:
bacon = 22
bacon +1

23

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans 23

In [3]:
'spam'+'spamspam'

'spamspamspam'

7. What should the values of the following two terms be?
'spam' + 'spamspam
'spam' * 3

ans spamspamspam
spamspamspam
both will give same results

8. Why is eggs a valid variable name while 100 is invalid?

ans python allow any charector to be variable name execept reserved word and it dont alow variable name start with numaric

In [18]:
a=121
a=str(a)
print(a)
print(type(a))
a=float(a)
print(a)
print(type(a))
a=int(a)
print(a)
print(type(a))

121
<class 'str'>
121.0
<class 'float'>
121
<class 'int'>

What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans int()
float()
str()

In [20]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos'

ans we can not add string to integer value to solve this error we convert int value to string using str()